version: '3.8'

services:
  backend:
    build: .
    container_name: backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
      - ./data:/app/data
    ports:
      - "8000:8000"
    env_file: .env

  frontend:
    build: .
    container_name: frontend
    command: streamlit run ui.py --server.port=8501 --server.address=0.0.0.0
    volumes:
      - .:/app
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    env_file: .env
